<div class="container">
<h1> Create a New Post</h1>


<%= form_for(@user , url: sign_up_path)  do |f| %>
  <p><%= f.label :name %>   </p>
  <p><%= f.text_field :name, class: 'form-control' %> </p>

  <p><%= f.label :email %>   </p>
  <p><%= f.email_field :email, class: 'form-control' %> </p>

  <p> <%= f.label :password %>  </p>
  <p><%= f.password_field  :password, class: 'form-control' %> </p>

  <p> <%= f.label :password_confirmation %>  </p>
  <p><%= f.password_field  :password_confirmation, class: 'form-control' %> </p>

  <p> <%= f.submit 'submit', class: "button"  %>  </p>
<% end %>
  <small>Have an account? sign in!</small>
  <p> <%= link_to 'SignUp', sign_in_path , class: 'button-logout' %> </p>

  <%= link_to 'All posts', posts_path , class: 'button-logout' %>

</div>